body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    min-width: 320px;
}

h1, h1 small, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #732C7B;
    border-color: #421C52;
}

.btn-primary:hover  {
    background-color: #732C7B;
    border-color: #9C0F5F;
}


pre {
    border: none;
    border-radius: 2px;
}

.blog-post img {
    border-radius: 2px;
}

.blog-post img.post-thumbnail, .post-thumbnail {
    margin: 0 .9em .2em 0;
}

/* true colors */
.navbar {
    background-color: #732C7B;
}

.navbar-default {
    border-color: #421C52;
}

.navbar-default .navbar-nav > li > a {
    color: #BDAEC6;
}

.logo {
    font-size: 1.3em;
}

.navbar-default .logo a {
    height: 70px;
    padding: 13px 30px 13px 15px;
}

.navbar-default .logo img {
    margin: -8px 10px -8px 0;
}

@media (min-width: 768px) {
    .logo {
        margin-left: -1.6em;
    }
}


.page-header h1 {
    color: #4CACDB;
    font-size: 2.2em;
    font-weight: 600;
}

a, a:active {
    color: #4CACDB;
    text-decoration: none;
}

a:hover, a:focus {
    color: #4CC5DB;
    text-decoration: none;
}


.perex {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 1em 0;
}


.blog-post h1 {
    font-size: 2.2em;
    font-weight: 600;

    margin-bottom: .5em;
}

article h2 {
    font-size: 1.8em;
}

article h2, article h3 {
    font-weight: 600;
}

.h3, h3 {
    font-size: 1.23em;
}

.h4, h4 {
    margin-top: 1.4em;
    font-size: 1.08em;
}


blockquote {
    margin: .7em 0;
}

code {
    font-size: .97em;
}

.main {
    position: relative;
}

.main > .row > * {
    margin-top: 1em;
}

a.navbar-toggle, a.navbar-toggle:active {
    color: white;
    font-size: 1.5em;
}

a.navbar-toggle:hover {
    cursor: pointer;
}

/* article helpers */
.arrow-down-on-list {
    margin-left: .7em;
    font-size: 1.6em;
    font-family: Arial, sans-serif;
}

.contacts {
    font-size: 1.3em;
    line-height: 1.5em;
}

.rss-btn {
    text-align: right;
}

@media (min-width: 480px) {
    .rss-btn {
        position: absolute;
        top: -100px;
        right: 0;
    }
}

@media (min-width: 768px) {
    .links ul {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}

@media (min-width: 992px) {
    .links ul {
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;
    }
}
