body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    min-width: 320px;
    color: #5c5c5c;
}

h1, h1 small, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #124768;
    border-color: #1f7db6;
}

.btn-primary:hover  {
    background-color: #1f7db6;
    border-color: #1f7db6;
}


pre {
    border: none;
    border-radius: 2px;
}

.blog-post img {
    border-radius: 2px;
}

.blog-post img.post-thumbnail, .post-thumbnail {
    margin: 0 .9em .2em 0;
}

/* true colors */
.navbar {
    background-color: #124768;
}

.nav {
    float: right;
}

.navbar-default {
    border-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #c9dae4;
    font-size: 1.1em;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar-collapse {
    padding: 0;
}

.logo {
    font-size: 1.3em;
    float: left;
    position: relative;
    padding-left: 75px;
}

.navbar-default .logo a {
    height: 70px;
    padding: 10px 0 0;
    color: #c9dae4;
    display: block;
}

.navbar-default .logo img {
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 50%;
}

.nickname {
    font-size: 0.8em;
    display: block;
    color: #fff;
    font-weight: normal;
}


.page-header h1 {
    color: #2986c2;
    font-size: 2.2em;
    font-weight: 600;
}

a, a:active {
    color: #2986c2;
    text-decoration: none;
}

a:hover, a:focus {
    color: #5aa8dc;
    text-decoration: none;
}

p {
    font-size: 1.05em;
}

.footer {
    height: 90px;
}


.perex {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 1em 0;
}


.blog-post h1 {
    font-size: 2.2em;
    font-weight: 600;

    margin-bottom: .5em;
}

article h2 {
    font-size: 1.8em;
}

article h2, article h3 {
    font-weight: 600;
}

.h3, h3 {
    font-size: 1.23em;
}

.h4, h4 {
    margin-top: 1.4em;
    font-size: 1.08em;
}


blockquote {
    margin: .7em 0;
}

code {
    font-size: .97em;
}

.main {
    position: relative;
}

.main > .row > * {
    margin-top: 1em;
}

a.navbar-toggle, a.navbar-toggle:active {
    color: white;
    font-size: 1.5em;
}

a.navbar-toggle:hover {
    cursor: pointer;
}

/* article helpers */
.arrow-down-on-list {
    margin-left: .7em;
    font-size: 1.6em;
    font-family: Arial, sans-serif;
}

.rss-btn {
    text-align: right;
}

@media (min-width: 480px) {
    .rss-btn {
        position: absolute;
        top: -100px;
        right: 0;
    }
}

@media (min-width: 768px) {
    .links ul {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}

@media (min-width: 992px) {
    .links ul {
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;
    }
}

.content-about {
    text-align: center;
}

.contacts {
    line-height: 2em;
    list-style: none;
    display: inline-block;
    text-align: left;
    margin-top: 2em;
}
.contacts span {
    width: 70px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.02em;
}

.contacts a {
    font-size: 1.4em;
}

.contacts a + a {
    position: relative;
    padding-left: 13px;
    margin-left: 10px;
}

.contacts a + a:before {
    content: '';
    position: absolute;
    width: 1px;
    background: #5c5c5c;
    display: block;
    top: 5px;
    left: 0;
    bottom: 3px;
}
