# use in a template as {$disqusShortname} etc.
disqusShortname: itsworthsharing
googleAnalyticsTrackingId:
fbTrackingId:
siteTitle: Jáchym Toušek
siteUrl: "http://www.enumag.cz"
blogPostOnHomepageCount: 3

# sculpin configuration
configuration:
    postRoute: blog/:year/:month/:day/:title
    githubRepositorySlug: enumag/enumag.cz

# translations
lang: cs
