# use in a template as {$siteUrl} etc.
disqusShortname:
googleAnalyticsTrackingId:
fbTrackingId:
siteTitle: Jáchym Toušek
siteUrl: "http://www.enumag.cz"

# sculpin configuration
configuration:
    postRoute: blog/:year/:month/:day/:title
    githubRepositorySlug: enumag/enumag.cz

# translations
lang: en
