---
layout: default
title: About
id: about
---
<div class="container">
    <div class="page">
        <div class="main">
            <div class="row">
                <header class="page-header text-center">
                    <h1>{{ page.title }}</h1>
                </header>
            </div>

            <div class="row content-about">
                <div class="col-md-12">
                    <p>Hi, <strong>my name is Jáchym</strong> and I know quite a bit about development of <strong>web applications in PHP</strong> and related technologies.</p>
                    <p>I often <a href="https://github.com/enumag">contribute</a> to <strong>open-source projects</strong> like <a href="http://symfony.com">Symfony</a>, <a href="https://nette.org">Nette</a>, <a href="https://github.com/Kdyby">Kdyby</a> and many others.</p>
                    <p>I've also published many of <strong>my own libraries</strong> in the <a href="https://github.com/Arachne">Arachne</a> organization on GitHub.</p>
                    <h2>Want my assistance?</h2>
                    <p>If you want a <strong>quick consultation</strong> about Nette, Symfony, Doctrine or <strong>any of my own libraries</strong> I'll gladly share my advice.</p>
                    <h2>Want to give me feedback?</h2>
                    <p><strong>I'm always interested in any feedback you can give me!</strong><br>If you have anything to say about this blog, my libraries or anything else, I'll appriciate it.</p>
                    <h2>Want to hire me?</h2>
                    <p>I live in <strong>Prague (Czech Republic)</strong> and prefer coming daily to office over working from home. In case you want my help with some project or want to hire me into your company, send me the details and I'll gladly consider it. <strong>I'll always reply</strong> regardless of whether your offer interests me or not.</p>
                    <p><em>I'm very strict about code architecture and tests.<br>If you hire me, I may be able to push the team to use better approches than before.</em></p>
                    <ul class="contacts">
                        <li><span>e-mail</span> <a href="mailto:enumag@gmail.com">enumag@gmail.com</a></li>
                        <li><span>phone</span> <a href="tel:+420777162660">+420 777 162 660</a></li>
                        <li><span>twitter</span> <a href="https://twitter.com/enumag">@enumag</a> </li>
                        <li><span>github</span> <a href="https://github.com/enumag">enumag</a> <a href="https://github.com/Arachne">Arachne</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
