---
layout: default
title: About
id: about
---
<div class="container">
    <div class="page">
        <div class="main">
            <div class="row">
                <header class="page-header text-center">
                    <h1>{{ page.title }}</h1>
                </header>
            </div>

            <div class="row content-about">
                <div class="col-md-12">
                    <p>Hi, <strong>my name is Jáchym</strong> and I know quite a bit about development of <strong>web applications in PHP</strong> and related technologies.</p>
                    <p>I often <a href="https://github.com/enumag">contribute</a> to <strong>open-source projects</strong> like <a href="http://symfony.com">Symfony</a>, <a href="https://nette.org">Nette</a>, <a href="https://github.com/Kdyby">Kdyby</a> and many others.</p>
                    <p>I've also published many of <strong>my own libraries</strong> in the <a href="https://github.com/Arachne">Arachne</a> organization on GitHub.</p>
                    <p>If you need <strong>help with Nette, Symfony, Doctrine</strong> or any of my own libraries feel free to contact me!</p>
                    <ul class="contacts">
                        <li><span>e-mail</span> <a href="mailto:enumag@gmail.com">enumag@gmail.com</a></li>
                        <li><span>phone</span> <a href="tel:+420777162660">+420 777 162 660</a></li>
                        <li><span>twitter</span> <a href="https://twitter.com/enumag">@enumag</a> </li>
                        <li><span>github</span> <a href="https://github.com/enumag">enumag</a> <a href="https://github.com/Arachne">Arachne</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
