---
layout: default
title: Contact
id: contact
---
<div class="container">
    <div class="page">
        <div class="main">
            <div class="row">
                <header class="page-header text-center">
                    <h1>{{ page.title }}</h1>
                </header>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p>Hi, <strong>my name is Jáchym</strong> and I know quite a bit about development of <strong>web applications in PHP</strong> and related technologies.</p>
                    <p>I often contribute to <strong>open-source projects</strong> like <a href="">Symfony</a>, <a href="">Nette</a>, <a href="">Kdyby</a> and many others.</p>
                    <p>And I've published many of <strong>my own libraries</strong> in the <a href="">Arachne</a> organization on GitHub.</p>
                    <p>If you need <strong>help with Nette, Symfony, Doctrine</strong> or any of my own libraries feel free to contact me!</p>
                    <ul>
                        <li>Email: <a href="mailto:enumag@gmail.com">enumag@gmail.com</a></li>
                        <li>Phone: <a href="tel:+420777162660">+420 777 162 660</a></li>
                        <li>Twitter: <a href="https://twitter.com/enumag">@enumag</a> </li>
                        <li>GitHub: <a href="https://github.com/enumag">enumag</a>, <a href="https://github.com/Arachne">Arachne</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
